/**
 * Add your design tokens as Tailwind theme variables.
 *
 * https://tailwindcss.com/docs/theme
 */

/**
 * Import Tailwind’s default theme.
 */
@import "tailwindcss/theme";

/**
 * Your theme variables are merged with Tailwind’s defaults, either extending
 * the default theme with new variables or overriding the values of existing
 * variables.
 */
@theme {
	/**
	  * These theme variables use CSS variables set by WordPress using values
	  * from your `theme.json` file.
	  *
	  * If you are using the classic editor, you may need to use hardcoded
	  * color values instead of the `var()` functions below.
	  */
	--color-background: var(--wp--preset--color--background);
	--color-foreground: var(--wp--preset--color--foreground);
	--color-primary: var(--wp--preset--color--primary);
	--color-secondary: var(--wp--preset--color--secondary);
	--color-tertiary: var(--wp--preset--color--tertiary);
	--container-content: var(--wp--style--global--content-size);
	--container-wide: var(--wp--style--global--wide-size);

	/**
	  * Add your theme below:
	  */
	/*Images*/
	--image-checkout: url("../tx3-funding/assets/img/checkout.png");
	/*Shadows*/
	--drop-shadow-white-glow: 0 0 5px rgba(255, 255, 255, 1);
	/*Fonts*/
	--font-aeonik-light: "Aeonik-light", sans-serif;
	--font-sans: "Aeonik-medium", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	/*Colors*/
	--color-royal-blue: rgba(112, 102, 36, 1);
	--color-electric-cyan: rgba(69, 209, 255, 1);
	--color-neon-lime: rgba(96, 249, 75, 1);
	--color-midnight-blue: rgba(21, 25, 36, 1);
	--color-slate-gray: rgba(113, 120, 146, 1);
}
